.box
{
    width: 100%;
    height: 500rpx;
    background-color: red;
    padding: 50rpx;
}
.asijd
{
    font-size: 66rpx;
}
.jsj
{
    color: hotpink;
}
.box1
{
    width: 80%;
    height: 500rpx;
    background-color: yellow;
    padding: 100rpx;
}