
.container
{
    width: 100%;
    display: block;
    // 下单页面的footer
    .footer
    {
        width: 100%;
        background-color: var(--componentBgcolor);
        position: fixed;
        bottom: 0;
        padding-bottom: 60rpx;
        .agree
        {
            border-bottom: 1px solid #e3e4e5;
            padding: 10rpx 30rpx;
        }
        .display
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30rpx;
            .price
            {
                .pricetxt
                {
                    color: red;
                    font-size: 48rpx;
                }
            }
            .order
            {
                .submit
                {
                    border-radius: 50rpx;
                    background-image: linear-gradient(to right,#e60012,red);
                }
                
            }
        }
    }

    //下单页面的information区域
    .information
    {
        padding: 30rpx;
        padding-top: 60rpx;
        .box
        {
            border-radius: 20rpx;
            background-color: var(--componentBgcolor);
            padding: 40rpx 30rpx;
            .address,.phone
            {
                position: relative;
                display: flex;
                padding: 30rpx 10rpx;
                .icon
                {
                    width: 50rpx;
                    height: 50rpx;
                    image
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
                .ipt
                {
                    padding-left: 15rpx;
                    width: 600rpx;
                }
                // 看看地址需不需要箭头,不需要就删除了
                .arrowdown
                {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 48rpx;
                    height: 0;
                    border-width: 13rpx;     /*控制箭头的大小 */
                    border-style: solid;
                    border-color:#8e8e8e transparent transparent transparent;
                    transition: 0.4s;
                }
            }
            .address
            {
                border-bottom: 1px solid #e3e4e5;
            }
            
        }
    }

    // 下单页面的detail区域
    .detail
    {
        padding: 30rpx;
        .box
        {
            padding: 40rpx ;
            background-color: var(--componentBgcolor);
            border-radius: 20rpx;
            .insertinformation
            {
                margin-bottom: 30rpx;
            }
            .insertinformation,.coupon
            {
                position: relative;
                padding: 10rpx;
                .must
                {
                    color: #c36972;//文字颜色应该要红色再多一点
                    font-size: 20rpx;
                    display: inline-block;
                    background-color: #fbefef;
                    padding: 10rpx;
                    border-radius: 20rpx;
                }
                .title
                {
                    color: #8e8e8e; ;
                }
                .showdetail
                {
                    text-align: right;
                    display: inline-block;
                    position: absolute;
                    right: 45rpx;
                }
            }
            .insertinformation,.coupon
            {
                .arrowdown
                {
                    position: absolute;
                    right: 0;
                    top: 34rpx;
                    height: 0;
                    border-width: 13rpx;     /*控制箭头的大小 */
                    border-style: solid;
                    border-color:#8e8e8e transparent transparent transparent;
                    transition: 0.4s;
                }
                .up     /*点击了栏*/
                {
                    transition: 0.4s;
                    transform: rotate(180deg);
                    top:20rpx
                }
            }
            
        }
    }
}
