.popupbox
{
    padding: 30rpx 40rpx;
    .title
    {
        font-size: 32rpx;
        font-weight: 900;
        padding-bottom: 20rpx;
        
    }
    .category
    {
        .classify
        {
            padding-top: 30rpx;
            display: flex;
            justify-content: space-between;
        }
    }
    .number
    {
        padding-top: 50rpx;
        display: flex;
        justify-content: space-between;
        align-content: center;
        .stepper
        {
            display: inline-block;
        }
    }
    .size
    {
        padding-top: 50rpx;
        .extent
        {
            display: flex;
            justify-content: space-between;
            padding-top: 30rpx;
        }
    }
    .photo
    {
        padding-top: 50rpx;
    }
    .save
    {
        padding-top: 50rpx;
        .savebutton
        {
            width: 100%;
            background-image: linear-gradient(to right,#e60012,red);
            border-radius:50rpx;
        }
    }
    .category,.photo
    {
        .label
        {
            color: #c36972;//文字颜色应该要红色再多一点
            font-size: 20rpx;
            display: inline-block;
            background-color: #fbefef;
            padding: 10rpx;
            margin-left: 5rpx;
            border-radius: 20rpx;
        }
    }

}

//虫子种类和虫子大小按钮的样式
.item
{
    width: 190rpx;
    height: 100rpx;
    background-color: #f5f5f5;
    border-radius: 20rpx;
    text-align: center;
    line-height: 100rpx;
}
// 按钮选中时样式
.choosen
{
    border: 1px solid #e60012;
    background-color: #fef3f3;
    color: #e60012;
}

